@media only screen and (max-width: 600px) {
    header {
        .mobile-toggle {
            display: grid;
        }

        nav {
            display: none;
        }
    }


    .proj-container {
        grid-template-columns: auto;
    }

    .proj {
        width: 80vw;
        padding: 1rem;

        & > img {
            width: 70vw;
        }
    }

    #textarea {
        width: 260px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    nav > a {
        padding: 0.5em;
    }

    #home {
        text-align: center;
    }

    aside {
        display: none;
    }

    .proj-container {
        grid-template-columns: auto;
    }

    .proj {
        width: 80vw;

        & > img {
            width: 70vw;
        }
    }

    #about {
        & > div {
            display: unset;
        }

        div div p {
            text-align: left;
            margin: 1vh 3vh 3vh;
        }
    }
}

@media only screen and (max-width: 950px) {
    header {
        .mobile-toggle {
            display: grid;
        }

        nav {
            display: none;
        }
    }

    .proj-container {
        grid-template-columns: auto;
    }

    .proj {
        width: 80vw;

        & > img {
            width: 70vw;
        }
    }

    #about {
        & > div {
            display: unset;
        }

        div div {
            margin-bottom: 3vh;
            border: 2px solid transparent;

            p {
                text-align: left;
                margin: 1vh 3vh 3vh;
            }
        }
    }
}

@media only screen and (max-width: 1550px) {
    .proj-container {
        grid-template-columns: auto;
    }

    .proj {
        width: 80vw;

        & > img {
            width: 70vw;
        }
    }
}
