@import 'constants';
@import 'header';
@import 'separators';
@import 'decos';

header .mobile-toggle {
    display: none;
}

/* home */
#home {
    height: calc(60vh + 84px);
    position: relative;
    background: var(--secondary_color);
    color: var(--main_color);
    padding: calc(8vh + 84px) 8vh 0;
    font-size: 5vh;
    transform: translateY(-84px);

    h5 {
        font-weight: 400;
        margin-top: 7vh;
    }

    h1 {
        font-weight: 900;
    }

    p {
        font-size: 2vh;
        font-weight: 400;
        color: var(--accent_color_2);
    }

    h1,
    h5,
    p {
        text-shadow: 0.08em 0.08em 0 var(--shadow);
    }
}

#home_indicator {
    width: 0;
    margin: 13vh auto auto 15vw;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid var(--accent_color_3);
    animation: down 2s ease-in-out infinite alternate;
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

aside {
    aspect-ratio: 1/1;
    width: 25vw;
    float: right;
    position: relative;
    margin: calc(100px / 2 + 0px);
    animation: spin 30s linear infinite;
    animation-direction: normal;

    .aside_div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: calc(-100px / 2);
        animation: spin 3s cubic-bezier(0.5, 0, 0.15, 1.2);
        animation-direction: reverse;

        img {
            animation: spin 30s linear infinite;
            animation-direction: reverse;
            width: 5vw;
            filter: drop-shadow(0.3rem 0.3rem 0 var(--shadow));
        }
    }
}

@keyframes down {
    to {
        transform: translateY(10vh);
    }
}

/* about */
#about {
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5vh auto 0;
        max-width: 70vw;
        max-height: fit-content;
    }

    p {
        text-align: left;
        margin-bottom: 1vh;
    }
}

#profile {
    height: 25vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 5%;
}

/* contact */
#contact {
    height: fit-content;
    padding-bottom: 15vh;
    margin-top: 20vh;
    text-align: center;
    color: var(--main_color);
    background: var(--secondary_color);
    position: relative;

    h2 {
        margin-top: 10vh;
    }
}

form {
    margin: 5vh auto;
    width: fit-content;
    height: fit-content;

    fieldset {
        width: fit-content;
        height: fit-content;
        padding: 4vw;
        border: 4px solid var(--main_color);
        border-radius: 2vw;
    }
}

form input,
label {
    font: 400 20px 'Ubuntu', sans-serif;
}

#textarea {
    font: 400 16px 'Ubuntu', sans-serif;
    width: 320px;
    height: 20vh;
}

form > fieldset input:not(input[type='submit']),
#textarea {
    background: var(--main_color);
    color: var(--secondary_color);
    border: 4px solid var(--accent_color_1);
    border-radius: 1vw;
    padding: 1vw;
    transition: 300ms;
}

form > fieldset input:not(input[type='submit']):hover,
#textarea:hover {
    background: var(--accent_color_2);
}

form > fieldset input[type='submit'] {
    font: 400 20px 'Ubuntu', sans-serif;
    background: var(--main_color);
    color: var(--secondary_color);
    border: 2px solid var(--secondary_color);
    border-radius: 10px;
    padding: 10px 40px;
    transition: 300ms;
}

form > fieldset input[type='submit']:hover {
    cursor: pointer;
    padding: 10px 60px;
    background: var(--secondary_color);
    color: var(--main_color);
    border-color: var(--main_color);
}

@import 'medias';
